<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>

    {{index .Words 0}} <!--Can access the field, then pass the index we desired-->
    {{index .Words 1}}

</body>
</html>