<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Document</title>
</head>
<body>

<!-- PUT YOUR CODE HERE TO SHOW THE DATA-->
{{range .}}
    Academic Year   :   {{.AcaYear}}
    Term            :   {{.Fall.Term}}
    {{range .Fall.Courses}}
        {{.Number}}-{{.Name}}-{{.Units}}
    {{end}}

    Term            :   {{.Spring.Term}}
    {{range .Spring.Courses}}
        {{.Number}}-{{.Name}}-{{.Units}}
    {{end}}
{{end}}

</body>
</html>