<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
    {{range .}}
        <p>
            <h3>ID : {{.ID}}</h3>
            <p>
                Name    : {{.Name}}<br>
                Score   : {{.Score}}<br>
                Salary  : {{.Salary}}<br>
            </p>
        </p>
    {{end}}
</body>
</html>