<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
    <form method="post">
        <input type="text" name="name" value="{{.Name}}"/>
        <input type="number" max="100" min="0" name="score" value="{{.Score}}"/>
        <input type="number" name="salary" value="{{.Salary}}"/>
        <input type="submit" value="Update Record"/>
    </form>
</body>
</html>