<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
    {{ template "innertemplate" .}} {{/*Passing the data into the inner template*/}}
</body>
</html>