<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
    <form method="post">
        <input type="text" name="username" placeholder="Username.."/>
        <input type="password" name="password" placeholder="Password.."/>
        <input id="male_rad" type="radio" name="gender" value="Male">
        <label for="male_rad">Male</label>
        <input id="female_rad" type="radio" name="gender" value="Female">
        <label for="female_rad">Female</label>
        <input type="date" name="dob"/>
        <input type="submit" value="Login"/>
    </form>
</body>
</html>